.texto {
	font-weight: 700;
	color: #003a5f;
}

section .whatzapp {
	height: 30px;
	width: 30px;
}

.texto h3 {
	text-align: center;
	font-size: 2rem;
	
}
	
/*cabecalho acaba aqui */	
	

.senhaAtual{
	text-align: center;
	background-color: #003a5f;
	color: white;
	margin-top: 0px;
}

.senha_Texto h1{
	font-size: 6rem;
	font-weight: 200;
	text-align: center;
	
	
	color:white;

}	


.senha_Texto {
	
		background-color: #003a5f;	
		margin-top: 90px;
		padding-bottom: 100px;

	
}

#senhaNormal{
	font-size: 100pt;
	font-weight: 800;
}	

.ultimaSenha{
	font-weight: 800;
	text-align: center;
	/*background-color: #ccc;*/
	height: 130px;
	
}

.ultimaSenhaTexto{
	font-size: 20px;
	color: #a50;
	background-color: #ccc;
	text-align: center;
     padding-top: 10px;
	margin-top: -5px;
}

#ultimaSenhaNumero{
	font-size: 40px;
	color: black;
	font-weight: bolder;
	
}

audio{
	display: none;
}

	
	
